:root {
    --font-size-l: 40px;
    --space-s: 5px;
    --space-m: 20px;
    --space-l: 30px;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: var(--font-size-l);
    color: white;
}

ul,
li {
    list-style: none;
}


.main-content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: minmax(300px, 1fr) 6fr;
}

.material-icons {
    margin-right: var(--space-m);
    color: white;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }




.header {
    grid-area: 1 / 2 / 1 / 2;
}

.sidebar {
    grid-area: 1 / 1 / 5 / 1;
    background-color: aquamarine;
    padding: var(--space-s);
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
}

.cards-wrapper {
    grid-area: 2 / 2 / 5 / 2;
    background-color: grey;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cards-wrapper .projects {
    grid-area: 1 / 1 / 3 / 1;
    background-color: blue;
}

.cards-wrapper .announcements {
    grid-area: 2 / 2 / 2 / 2;
    background: red;
}

.cards-wrapper .trending {
    grid-area: 1 / 2 / 1 / 2;
    background-color: green;
}

.list-item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}