:root {
    --font-size-large: 24px;
    --font-size-regular: 18px;
    --space-s: 5px;
    --space-m: 20px;
    --space-l: 30px;
    --color-primary: #0891b2;
    --color-dark: #083344;
    --color-light: #a5f3fc;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    font-size: var(--font-size-regular);
    font-weight: 700;
}

ul,
li {
    list-style: none;
}

h3 {
    font-size: var(--font-size-large);
}

button {
    border: none;
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    width: clamp(50px, 110px, 150px);
    height: clamp(20px, 50px, 70px);
    margin-left: var(--space-m);
    font-size: var(--font-size-regular);
}

button:hover {
    opacity: 60%;
    cursor: pointer;
}

.main-content {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: minmax(300px, 1fr) 7fr;
}

.material-icons {
    margin-right: var(--space-m);
    color: white;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.header {
    grid-area: 1 / 2 / 1 / 2;
    box-shadow: 0px 5px 10px 0px darkgray;
    z-index: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--space-m);
    align-items: center;
}

.header .header-buttons {
    grid-area: 2 / 2 / 2 / 3;
    white-space: nowrap;
}

.search,
.user-info {
    display: flex;
    align-items: center;
}

.header>.search>span,
.header>.user-info>span {
    color: black !important;
    margin-left: var(--space-m);
}

.user-info {
    grid-area: 1 / 2 / 1 / 3;
}

.user-info>img,
.trending>ul>li>img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: var(--space-m);
}

.user-info>p {
    margin-left: var(--space-m);
    font-weight: bold;
}

.user-profile>img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: var(--space-m);
    margin-right: var(--space-l);
}

.user-profile {
    display: flex;
    grid-area: 2 / 1 / 2 / 1;
}

input:first-of-type {
    border-radius: 20px;
    width: 50%;
    height: 50%;
    border: none;
    background-color: lightgrey;
    padding: 15px;
}

.user-profile>div>p:last-of-type {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.sidebar {
    position: sticky;
    grid-area: 1 / 1 / 5 / 1;
    background-color: var(--color-primary);
    padding: var(--space-s);
    display: grid;
    grid-template-rows: 100px 400px 300px;
    z-index: 2;
    color: white;
    line-height: 40px;
}

.sidebar-header {
    font-weight: bold;
    font-size: var(--font-size-large);
}

.cards-wrapper {
    grid-area: 2 / 2 / 5 / 2;
    padding: var(--space-l);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 30px 2fr 30px 2fr;
    background-color: #e2e8f0;
    color: black;
    overflow-y: auto;
    gap: 10px;
}

.cards-wrapper .projects {
    grid-area: 2 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.cards-wrapper .announcements {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    height: fit-content;
    padding: var(--space-m);
    border-radius: 20px;

}

.cards-wrapper .trending {
    grid-area: 4 / 2 / 4 / 3;
    background-color: white;
    height: fit-content;
    border-radius: 20px;
    padding: var(--space-m);
    line-height: 33px;
}

.sidebar .list-item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}

.sidebar .list-item::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.sidebar .list-item:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sidebar .list-item::before {
    content: " ";
    display: block;
    position: absolute;
    inset: 5px -5px 0 -10px;
    background: var(--color-dark);
    z-index: -1;
    transition: transform .3s ease;
}

.project-card {
    padding: var(--space-l);
    align-content: center;
    font-weight: 300;
    height: fit-content;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border-left: 5px solid var(--color-primary);
    border-left-style: groove;
    box-shadow: 0px 3px 10px grey;
}


.project-card:hover {
    cursor: pointer;
    transform: scale(1.00) translateY(-5px);
    box-shadow: 0 5px 15px #00bcd450;
    transition: 0.5s ease;
}

h3:first-of-type {
    grid-column: 1 / 2;
}

h3:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

.announcements>ul>.list-item>p {
    font-weight: 200;
}

.announcements>ul>.list-item:nth-last-child(1n + 2) {
    border-bottom: 1px solid #20292c44;
    padding-bottom: var(--space-m);
}

.announcements>ul>.list-item:nth-child(1n + 2) {
    padding-top: var(--space-m);
}

.trending>ul>li>div>p {
    font-weight: 200;
    color: grey;
    margin-left: var(--space-m);
}

.trending>ul>li {
    display: flex;
}

h3[section="trending"] {
    margin-bottom: var(--space-s);
}